/VoorraadBeheer/dist/
/VoorraadBeheer/build/
/VoorraadBeheer/nbproject/
/VoorraadBeheer/dist/
/VoorraadBeheer/build/
/VoorraadBeheer/build.xml
/VoorraadBeheer/manifest.mf
*.properties
VoorraadBeheer/nbproject/private/private.properties
*.properties