.control{
    -fx-padding: 10px;
    -fx-spacing: 5px;
    -fx-border-color: black;
    -fx-alignment:center-right;
}

.control Button{
    
}

.artikelNummer{
    
}

.artikelNaam{
    
}

.artikelAantal{
    
}

.recordContainer{
    
}

.record{
    -fx-padding: 10px;
    -fx-spacing: 5px;
}

.record Button{
    
}