.control{
    -fx-padding: 10px;
    -fx-spacing: 5px;
    -fx-border-color: black;
    -fx-alignment:center-right;
}

.control Button{
    
}

.artikelNummer{
    
}

.artikelNaam{
    
}

.artikelAantal{
    
}

.defSpacing{
    -fx-spacing: 5px;
}

.defPadding{
    -fx-padding:10px;
}

.recordContainer{
    
}

.record{
    -fx-padding: 10px;
    -fx-spacing: 5px;
    -fx-border-color: black;
    -fx-border-width: 0px 0px 1px 0px;
}

.record .artikelInfo{
    -fx-spacing: 5px;
}

.record Button{
    
}

.right{
    -fx-alignment:center-right;
}

.error{
    -fx-text-fill:red;
}

.toplaneMuteer{
    -fx-spacing: 25;
}

.inputMuteer{
    -fx-alignment: CENTER;
    -fx-fill-width: false;
    -fx-spacing: 5;
}

.buttonsMuteer{
    -fx-spacing: 50;
}
